body {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑", "Arial Unicode MS";
    color: #fff;
    background-color: #000;
}

.body {
    position: relative;
    width: 100%;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-family: "微软雅黑", "Arial Unicode MS";
    font-weight: 700;
    position: relative;
    z-index: 1;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    z-index: 1;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

/* Header styles
================================================== */


/* Intro Top content styles
================================================== */

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 350px 0 330px;
    text-align: center;
    color: #fff;
    position: relative;
    z-index:1;
}

.intro-page {
    padding: 150px 0 130px;
    background:#313131 url(../demo/bg/1.jpg) no-repeat center;
    background-size: 100% auto;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 36px;
    margin: 0px;
    text-transform: uppercase;
}

.intro-text {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px;
}

.line {
    background: #fff;
    width: 80px;
    height: 1px;
    margin: 25px auto;
    position: relative;
    z-index: 1;
}

.line1 {
    background: #000;
    width: 80px;
    height: 1px;
    margin: 25px auto;
    position: relative;
    z-index: 1;
}

.line3 {
    background: #fff;
    width: 80px;
    height: 1px;
    margin: 25px auto;
    position: relative;
    z-index: 1;
}

#intro-slider .controlNav {
    display: none;
}

#intro-slider .flex-direction-nav {
    display: none;
}

/* Welcome styles
================================================== */

.welcome-content {
    padding: 130px 0;
    background: #fff;
    position: relative;
    z-index:1;
}

.welcome-content h3,.team-content h3, .services-content h3, .portfolio-wrap h3, .testimonial-wrap h3, .contact-wrap h3, .download-wrap h3 {
    color: #222222;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    line-height: 24px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.welcome-content p, .team-content p, .services-content p, .contact-wrap p, .download-wrap p {
    color: #3d3d3d;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    width: 85%;
    margin: 30px auto 0;
}

.services-content h3 , .services-content p, .testimonial-wrap h3 {
    color: #fff;
}

.btn1 {
    color: #000;
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 600;
    border: 2px solid #000;
    padding: 11px 44px;
    font-family: "微软雅黑", "Arial Unicode MS";
    display: table;
    margin: 45px auto 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn1:hover {
    border-color: #888;
    color: #888;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn2 {
    margin: 45px 0 0;
}

/* Facts styles
================================================== */

.facts-content {
    padding: 130px 0;
    background:#313131 url(../demo/bg/4.jpg) no-repeat center;
    background-size: 100% auto;
    position: relative;
    z-index:1;
}

.facts-content h3 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    line-height: 24px;
    margin-bottom: 80px;
    text-transform: uppercase;
}

.fact-info h4 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    line-height: 24px;
    text-transform: uppercase;
}

.fact-info h4 em {
    font-style: normal;
}

.fact-info h4 span {
    font-weight: 700;
}

.fact-info p {
    color: #f1f1f1;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}

.line2 {
    background: #989898;
    height: 1px;
    margin: 25px auto 35px;
    width: 65px;
}

/* Extras
================================================== */

.no-padding {
    padding: 0px !important;
}

.no-padding {
    padding: 0px;
}

.space10 {
    margin-bottom: 10px;
}

.space15 {
    margin-bottom: 15px;
}

.space20 {
    margin-bottom: 20px;
}

.space25 {
    margin-bottom: 25px;
}

.space30 {
    margin-bottom: 30px;
}

.space35 {
    margin-bottom: 35px;
}

.space40 {
    margin-bottom: 40px;
}

.space50 {
    margin-bottom: 50px;
}

.space60 {
    margin-bottom: 60px;
}

.space70 {
    margin-bottom: 70px;
}

.space80 {
    margin-bottom: 80px;
}

.space90 {
    margin-bottom: 90px;
}

/* Team Styles
================================================== */

.team-content {
    padding: 130px 0;
    background: #fff;
    position: relative;
    z-index:1;
}

.staff-content {}

.staff-content h4 {
    color: #222222;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
    margin: 36px 0 0;
}

.staff-content h4 span {
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.staff-img {
    position: relative;
}

.staff-img .overlay {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.staff-content:hover {
    cursor: pointer;
}

.staff-content:hover .overlay {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-social {
    padding: 0px;
    margin: auto;
    display: table-cell;
    height: 27px;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 160px;
}

.team-social li {
    float: left;
    list-style: none;
}

.team-social li a {
    color: #fff;
    margin: 0 12px;
    font-size: 20px;
}

.team-social li a:hover {
    opacity: 0.3;
}

/* Services Styles
================================================== */

.services-content {
    padding: 130px 0;
    background:#313131 url(../demo/bg/5.jpg) no-repeat center;
    background-size: 100% auto;
    position: relative;
    z-index:1;
}

.service-content {}

.service-content img {
    display: table;
    margin: 0 auto 37px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service-content:hover {
    cursor: pointer;
}

.service-content-inner {
    background: transparent;
    padding: 30px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service-content:hover .service-content-inner {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service-content:hover img {
    transform: scale(.8);
    -ms-transform: scale(.8);
    -moz-transform: scale(.8);
    -webkit-transform: scale(.8);
    -o-transform: scale(.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service-content h4 {
    text-align: center;
    margin: 0px;
    font-size: 18px;
    text-transform: uppercase;
}

/* Porfolio Styles
================================================== */

#filters {
    margin: 10px auto 40px;
    display: table;
    padding: 0;
    list-style: none;
}

#filters li {
    float: left;
    text-align: center;
    margin: 0 5px;
}

#filters li span {
    display: block;
    padding: 5px 12px;
    text-decoration: none;
    color: #222222;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: 600;
}

#filters li span.active, 	#filters li span:hover {
    border: 2px solid #222222;
}

#portfoliolist .portfolio {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 25%;
    display: none;
    float: left;
    overflow: hidden;
}

.portfolio-wrapper {
    overflow: hidden;
    position: relative !important;
    cursor: pointer;
}

.portfolio img {
    max-width: 100%;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio:hover img {
    cursor: pointer;
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.overlay1 {
    background: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.overlay-text {
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 10px 30px;
    height: 44px;
    width: 176px;
    display: table-cell;
    margin: auto;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    color: #fff;
}

.overlay-text:hover {
    background: #fff;
    color: #000;
}

.portfolio-wrap {
    padding: 130px 0;
    background: #fff;
    position: relative;
    z-index:1;
}

.portfolio:hover .overlay1 {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.portfolio-main {
    margin-bottom: 60px;
}

/* Testimonials Styles
================================================== */

.testimonial-wrap {
    padding: 130px 0;
    background:#313131 url(../demo/bg/6.jpg) no-repeat center;
    background-size: 100% auto;
    position: relative;
    z-index:1;
}

.client-img {
    max-width: 100%;
    display: table;
    margin: 45px auto;
    width: auto !important;
}

/* Contact Styles
================================================== */

.contact-wrap, .download-wrap{
    background: #fff;
    padding: 110px 0;
    position: relative;
    z-index:1;
}

.contact-info, .download-info {
}

.contact-info h5 , .download-info{
    color: #222;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    display: table;
    margin: 0 auto;
}

/* Footer Styles
================================================== */

footer {
    padding: 55px 0;
    background: #222;
    position: relative;
    z-index:1;
}

.social {
    padding: 0px;
    margin: 0 auto 15px;
    display: table;
	font-family:"微软雅黑";
}

.social li {
    float: left;
    list-style: none;
}

.social li a {
    color: #fff;
    margin: 0 12px;
    font-size: 20px;
}

.social li a:hover {
    color: #888;
}

.copy {
    font-size: 13px;
    text-align: center;
    margin: 0px;
    color: #f1f1f1;
}

.copy a {
    color: #f1f1f1;
}

.copy a:hover {
    text-decoration: underline;
}

/* Blog Page Styles
================================================== */

.post-wrap {
    background: #fff;
    padding: 130px 0;
}

article h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: #222;
    margin-top: 45px;
    margin-bottom: 5px;
}

article h4:hover {
    color: #888;
}

article p {
    font-size: 13px;
    color: #3d3d3d;
    line-height: 21px;
    margin-bottom: 23px;
}

.post-detail article p {
    font-size: 13px;
    color: #3d3d3d;
    line-height: 21px;
    margin-bottom: 15px;
}

blockquote {
    color: #3d3d3d;
    font-size: 13px;
    border-left: 5px solid #9e9e9e;
    padding-left: 25px;
    line-height: 21px;
}

article .btn1 {
    margin-top: 0px;
}

.post-meta {
    font-size: 13px;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.post-meta a {
    color: #3d3d3d;
}

.post-meta em {
    font-style: normal;
    margin: 0 10px;
}

.post-date {
    width: 75px;
    height: 95px;
    border-right: 1px solid #000;
    position: relative;
    right: -2px;
}

.date {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    font-weight: 700;
    margin-top: -10px;
    padding-bottom: 18px;
    border-bottom: 1px solid #000;
}

.like a {
    color: #222;
    display: table;
    margin: 12px auto 0;
}

.post-small {
    margin-bottom: 60px;
}

.comments {
    margin-top: 80px;
}

.comments h3, .comment-form h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #222;
}

.comment-form h3 {
    margin-bottom: 10px;
}

.comment-avatar {
    float: left;
    width: 76px;
}

.comment-avatar img {
    max-width: 100%;
}

.comment-info {
    margin-left: 100px;
}

.comment-info h5 {
    font-size: 20px;
    color: #222;
    margin-bottom: 17px;
}

.comment-info h5 span {
    font-size: 13px;
    color: #3d3d3d;
    font-weight: 400;
    display: block;
}

.sub-comment {
    padding-left: 100px;
}

.line-comment {
    background: #ddd;
    height: 1px;
    width: 65%;
    margin-right: 17%;
    float: right;
    margin-top: 5px;
    position: relative;
}

.line-comment span {
    position: absolute;
    color: #000;
}

.comment-content {
    padding-bottom: 35px;
}

.comment-form {
}

.comment-form input, .comment-form textarea {
    border: 1px solid #ddd;
    min-height: 50px;
    padding: 0 15px;
    width: 100%;
}

.comment-form label {
    font-size: 13px;
    color: #3d3d3d;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 10px;
}

.line-comment span {
    position: relative;
    top: -10px;
    background: #fff;
    padding-left: 10px;
    width: 60px;
    right: 0px;
    display: table;
    float: right;
    font-size: 13px;
}

.line-comment span a {
    color: #3d3d3d;
}

.cover {
    background: url(../images/overlay.png) repeat scroll 0 0 rgba(0, 0, 0, 0);
    position: absolute;
    right: 100px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.text-slide,
.welcome-text,
.fact-info,
.staff-content,
.fade-text,
.service-content,
.portfolio,
.quote-slide,
.contact-info {
    visibility: hidden;
}

/* Project single Page Styles
================================================== */

.project-single {
    padding: 110px 0;
    background: #fff;
}

.project_details {
    padding: 0;
    margin: 35px 0 -15px;
    display: table;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.project_details h3 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.project_details span {
    padding: 5px 0;
    margin: 0;
    font-size: 13px;
    color: #454545;
    float: left;
    width: 100%;
}

.project_details em {
    font-style: normal;
    text-transform: uppercase;
    font-size: 13px;
    width: 40%;
    display: table;
    float: left;
    font-weight: 700;
}

.project_details a {
    margin-right: 10px;
}

.addto_favorites {
    font-size: 13px;
    color: #888;
    display: table;
    float: left;
    margin-right: 25px;
    text-transform: uppercase;
}

.addto_favorites i {
    margin-right: 12px;
}

.addto_favorites:hover {
    color: #888;
}

.small_social_links {
    display: table;
}

.small_social_links li {
    padding: 0;
    margin: 0 9px 0 0;
    float: left;
    width: 18px;
    height: 18px;
}

.small_social_links li a {
}

.small_social_links li a:hover {
    color: #999;
}

.project-info h3 {
    color: #333;
    margin: 0 0 15px;
}

.project-info p {
    color: #666;
    margin: 0 0 20px;
    font-size: 14px;
}

.project_details {
    display: table;
    width: 100%;
}

.project-info .btn1 {
    border-color: #999;
    color: #999;
}

.project-info .btn1:hover {
    border-color: #888;
    color: #888;
}

.vdeo {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    border: 0;
}

.vdeo iframe,.vdeo object,.vdeo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {

.navbar-custom .nav li a {
    font-size: 9px;
}

.nav > li {
    padding: 0px 10px;
}

}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {

    .post-date {
        display: none;
    }

    .navbar {
        border: none;
    }

    .navbar-brand {
        font-size: 24px;
        margin-top: 0px;
    }

    .intro {
        padding: 170px 0 60px;
    }

    .staff-content {
        width: 250px;
        margin: 0 auto 40px;
    }

    .team-content {
        padding: 130px 0 90px;
    }

    .service-content {
        margin-bottom: 40px;
    }

    .services-content .col-md-12 {
        margin-bottom: 0px !important;
    }

    #portfoliolist .portfolio {
        width: 100%;
    }

    #filters li {
        float: none;
        text-align: center;
        margin: 0px 5px;
    }

    .contact-info {
        margin-bottom: 40px;
    }

    .contact-wrap {
        padding: 110px 0 70px;
    }

    .intro ,
    .facts-content ,
    .services-content ,
    .testimonial-wrap {
       background-size: 200% 200%;
    }
	
    .project-info .col-md-7 {
      margin-bottom:30px;
    }

}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
