body{
	padding-top: 50px;
}
.Mygraph{
	margin: 30px auto;
	left: 270px;
}
a.label{
	font-size: 20px;
}
li.label{
	background-color: white;
	padding: 1px;
}
button.label{
	width: 90px;
	height: 50px;
}